h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align:center;
    margin: 20px auto;
    font-family: Courier New;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #e9c46a;
}
h1:nth-of-type(3n) {
    background-color: #f4a261;
}
h1:nth-of-type(4n) {
    background-color: #e76f51;
}

section:first-of-type h1:nth-of-type(1):hover {
    transform-origin: center;
    transition: all 200s;
    rotate: 90000deg;
}

section:first-of-type h1:nth-of-type(2) {
    transform: scale(3, 1);
}

section:first-of-type h1:nth-of-type(3) {
    transform: translatex(200px);
}
section:first-of-type h1:nth-of-type(4) {
    transform: translate(-10px,40px) rotate(30deg) translateZ(500px);
}
section:nth-of-type(2) h1:nth-of-type(1) {
    transform: translate(-10px,40px) rotate(50deg);
}

